

ProxyRequests Off
ProxyPreserveHost On
<Location /api>
    ProxyPass (URL)/api
    ProxyPassReverse (URL)/api
</Location>

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.html [QSA,L]