header {
    background-color: rgb(71, 136, 71);
    padding: 20px 20px 20px 20px;
    align-self: center;
    text-align: center;
    display: flex;
    color: white;
}

#title {
    font-size: 30px;
}